<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ingreso por PIN</title>
    <link rel="stylesheet" th:href="@{/css/pin.css?v=1.1}">
    <link rel="shortcut icon" href="/img/icono-rrhh.jpg" type="image/jpg">

</head>
<body>

<div class="container">
    <div class="card">
        <h2>🔐 Acceso por PIN</h2>
        <p>Ingresa tu PIN para continuar</p>

        <form action="/pin" method="post">
            <input
                    type="password"
                    name="pin"
                    placeholder="PIN"
                    required
                    maxlength="6"
            >

            <button type="submit">Ingresar</button>

            <p th:if="${param.error}" style="color:red">
                PIN incorrecto
            </p>

        </form>
    </div>
</div>

</body>
</html>

